!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/css/reset.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/text.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/960.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/jquery.ui/jquery-ui-1.8.16.custom.css', :rel => 'stylesheet', :type => 'text/css'}
    
    %script{:type => 'text/javascript', :src => '/js/lib/jquery.min.js'}
  %body
    .container_12
      .grid_12#header
        %h1
          %a{:href => '/'}= SiteConfig.title
      #content_wrapper
        =yield
      .grid_12#footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"