%h2= @song.title

#song_info

  .artist= @song.artist
  .song_key
    Key of
    %span= @song.song_key.symbol

  .time_signature
    Time Signature
    %span= @song.time_signature
  

#song_chords
  - @rendered_sections.each do |section|
    .song_section
      %span.section_title= section[:title]
      - section[:lines].each do |line|
        %span.chord_line= line[:chords] * " "
        %span.lyric_line= line[:lyrics] * " "